<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battle-all</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/fonts.css')}}">
    <style>
        body{
            background-color: black;
        }
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        .battle-item {
            width: 200px;
            font-size: 2em;
            font-weight: bolder;
            color:white;
        }

        .battle-item div:first-child {
            margin-right: 10px;
            width: 80px;
        }
    </style>
</head>

<body>
    <div class="flex font-splatoon2">
        <div class="flex battle-item">
            <div>总击杀</div>
            <div id="kill"></div>
        </div>
        <div class="flex battle-item">
            <div>总助攻</div>
            <div id="assist"></div>
        </div>
        <div class="flex battle-item">
            <div>总死亡</div>
            <div id="death"></div>
        </div>
        <div class="flex battle-item">
            <div>总大招</div>
            <div id="special"></div>
        </div>
        <div class="flex battle-item">
            <div>总KDA</div>
            <div id="kda"></div>
        </div>
        <div class="flex battle-item">
            <div>总KD</div>
            <div id="kd"></div>
        </div>
    </div>
</body>
<script>
    function getJson() {
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                let kill=JSON.parse(this.responseText).kill;
                let assist=JSON.parse(this.responseText).assist;
                let death=JSON.parse(this.responseText).death
                document.getElementById("kill").innerText = kill;
                document.getElementById("assist").innerText = assist;
                document.getElementById("death").innerText = death;
                document.getElementById("special").innerText = JSON.parse(this.responseText).special;
                document.getElementById("kda").innerText = ((kill+assist)/death).toFixed(1);
                document.getElementById("kd").innerText = (kill/death).toFixed(1);
            }
        });

        xhr.open("GET", "http://127.0.0.1:5000/battle/all/json");

        xhr.send();
    }
    getJson()
    setInterval(function () {
        getJson();
    }, 1000);
</script>

</html>