<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coop-enemy</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/fonts.css')}}">
    <style>
        body{
            background-color: black;
        }
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        .boss-item {
            width: 200px;
            margin-bottom: 10px;
            font-size: 1.5em;
            font-weight: bolder;
            align-items: center;
            color:white;
        }

        .boss-item img:first-child {
            margin-right: 10px;
            width: 50px;
        }
    </style>
</head>

<body>
    <div class="flex font-splatoon2">
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakelienBomber.png')}}" alt="">
            <div id="bakudan"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakelienCupTwins.png')}}" alt="">
            <div id="katapad"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakelienShield.png')}}" alt="">
            <div id="teppan"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakelienSnake.png')}}" alt="">
            <div id="hebi"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakelienTower.png')}}" alt="">
            <div id="tower"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/Sakediver.png')}}" alt="">
            <div id="mogura"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/Sakerocket.png')}}" alt="">
            <div id="koumori"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakePillar.png')}}" alt="">
            <div id="hashira"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakeDolphin.png')}}" alt="">
            <div id="diver"></div>
        </div>
        <div class="flex boss-item">
            <img src="{{url_for('static',filename='image/SakeSaucer.png')}}" alt="">
            <div id="nabebuta"></div>
        </div>
    </div>
</body>
<script>
    function getDefeatedByMe(data,param){
        let jsonData=JSON.parse(data)
        if(jsonData.hasOwnProperty(param)){
            return jsonData[param].defeated_by_me
        }else{
            return 0
        }
    }
    function getJson() {
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                document.getElementById("bakudan").innerText = getDefeatedByMe(this.responseText,"bakudan");
                document.getElementById("katapad").innerText = getDefeatedByMe(this.responseText,"katapad");
                document.getElementById("teppan").innerText = getDefeatedByMe(this.responseText,"teppan");
                document.getElementById("hebi").innerText = getDefeatedByMe(this.responseText,"hebi");
                document.getElementById("tower").innerText = getDefeatedByMe(this.responseText,"tower");
                document.getElementById("mogura").innerText = getDefeatedByMe(this.responseText,"mogura");
                document.getElementById("koumori").innerText = getDefeatedByMe(this.responseText,"koumori");
                document.getElementById("hashira").innerText = getDefeatedByMe(this.responseText,"hashira");
                document.getElementById("diver").innerText = getDefeatedByMe(this.responseText,"diver");
                document.getElementById("nabebuta").innerText = getDefeatedByMe(this.responseText,"nabebuta");
            }
        });

        xhr.open("GET", "http://127.0.0.1:5000/coop/enemy/json");

        xhr.send();
    }
    getJson()
    setInterval(function () {
        getJson();
    }, 1000);
</script>

</html>