<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>win-lose</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style/fonts.css')}}">
  <style>
    body{
        background-color: black;
    }
    .progress-bar {
      width: 100%;
      height: 40px;
      background-color: #eee;
      border-radius: 4px;
      position: relative;
    }

    .win-progress {
      height: 100%;
      background-color: #5f3bff;
      border-radius: 4px 0 0 4px;
      float: left;
    }

    .lose-progress {
      height: 100%;
      background-color: #e34412;
      border-radius: 0 4px 4px 0;
      float: right;
    }

    .win-rate,
    .lose-rate {
      position: absolute;
      line-height: 40px;
      color: white;
      font-weight: bold;
    }

    .win-rate {
      left: 3px;
    }

    .lose-rate {
      right: 3px;
    }
    .battle-font{
      color:white;
      font-size: 2em;
    }
  </style>
</head>

<body class="font-splatoon2 battle-font">
  <div class="progress-bar">
    <div class="win-progress" id="progress-win"></div>
    <div class="lose-progress" id="progress-lose"></div>
    <div class="win-rate" id="percent-win"></div>
    <div class="lose-rate" id="percent-lose"></div>
  </div>
  <div style="display:flex;justify-content: space-between;">
    <div>胜：<span id="win"></span></div>
    <div>败：<span id="lose"></span></div>
  </div>
</body>
<script>
  function getJson() {
      var xhr = new XMLHttpRequest();
      xhr.withCredentials = true;

      xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
              let win=JSON.parse(this.responseText).win;
              let lose=JSON.parse(this.responseText).lose;
              let total=JSON.parse(this.responseText).total
              document.getElementById("percent-win").innerText = (win/total*100).toFixed(1)+"%";
              document.getElementById("percent-lose").innerText = (lose/total*100).toFixed(1)+"%";
              document.getElementById("progress-win").style.width=(win/total*100).toFixed(1)+"%";
              document.getElementById("progress-lose").style.width=(lose/total*100).toFixed(1)+"%";
              document.getElementById("win").innerText = win;
              document.getElementById("lose").innerText = lose;
          }
      });

      xhr.open("GET", "http://127.0.0.1:5000/win_lose/json");

      xhr.send();
  }
  getJson()
  setInterval(function () {
      getJson();
  }, 1000);
</script>
</html>