<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>x-power-simple</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style/fonts.css')}}">
	<style>
		body {
			background-color: black;
		}
	</style>
</head>

<body>
	<div style="display:flex;align-items: center;">
		<div style="margin-right:10px;">
			<img src="{{url_for('static',filename='image/xranking.png')}}" alt="">
		</div>
		<div id="x-power-after" class="font-splatoon2" style="font-size:5em;font-weight: bolder;color:white;"></div>
	</div>
</body>
<script>
	function getJson() {
		var xhr = new XMLHttpRequest();
		xhr.withCredentials = true;

		xhr.addEventListener("readystatechange", function () {
			if (this.readyState === 4) {
				let xPowerAfter = localStorage.getItem("x_power_after")
				if (xPowerAfter != JSON.parse(this.responseText).x_power_after) {
					document.getElementById("x-power-after").innerText = JSON.parse(this.responseText)
						.x_power_after;
				}
			}
		});

		xhr.open("GET", "http://127.0.0.1:5000/x_power/simple/json");

		xhr.send();
	}
	getJson()
	setInterval(function () {
		getJson();
	}, 1000);
</script>

</html>